{% load static %}
{% load bookmark_filter %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'recipes/style/header.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'users/style/profile.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'users/style/AddPublisherForm.css' %}?{% now 'U' %}">
    <script src="https://kit.fontawesome.com/3fee5cf858.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<!-- Header -->
<header>
    <div class="left-side hide-mobile">


        <nav class="hide-mobile">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'favorite' %}">Favorite</a></li>
                {#                <li><a class="active"  href="{% url 'discover' %}">Discover</a></li>#}
                <li class="select-container">
                    <p class="select-paragraph">Meals</p>
                    <div class="select-category">
                        {% for category in Categories %}
                            <a href="{% url 'get_category' category_id=category.id %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="{% url 'AboutUs' %}">About Us</a></li>
            </ul>
        </nav>


    </div>

    <div class="logo">
        <h1>
            <a href="{% url 'index' %}">Foo<span>dies</span></a>
        </h1>
    </div>

    <div class="right-side">


        <form id="searchForm" class="search-field" method="GET" action="{% url 'searchRecipe' %}"
            data-action-url="{% url 'searchRecipe' %}" data-csrf-token="{{ csrf_token }}">
            <input type="search" name="query" class="input-field" placeholder="search"/>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                      stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.5 17.5L13.875 13.875" stroke="#64748B" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </form>

        <a href="#" class="menu">
            <svg
                    viewBox="0 0 18 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M0 12.5H18V10.5H0V12.5ZM0 7.5H18V5.5H0V7.5ZM0 0.5V2.5H18V0.5H0Z"
                        fill="black"
                />
            </svg>
        </a>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' %}">
                    <img src="{% static 'Assets/profile.svg' %}" alt="profile icon" width="40px" height="40px">

                </a>
            {% else %}
                <div class="hide-mobile verification-btn ">
                    <a class="loginInBtn" href="{% url 'users:login_view' %}">login</a>
                    <a class="signInBtn" href="{% url 'users:register' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

{% if request.user.is_superuser %}

    <div class="sub-header hide-mobile">
        <div class="wrapper">
            <nav class="sub-header-nav">
                <ul class="subheader-list">
                    <li><a href="{% url 'users:addRecipePage' %}">Add recipe</a></li>
                    <li><a href="{% url 'users:editRecipePage' %}">Edit recipe</a></li>
                    <li class="sub-select-container">
                        <p class="sub-select-paragraph">Level</p>
                        <div class="sub-select-category">
                            <a href="{% url 'users:addLevel_view' %}">
                                Add Level
                            </a>                   
                            <a href="{% url 'users:EditLevel_view' %}">
                                Edit Level
                            </a>
                        </div>
                    </li>
                    <li class="sub-select-container-2">
                        <p class="sub-select-paragraph-2">Category</p>
                        <div class="sub-select-category-2">
                            <a href="{% url 'users:AddCategory_view' %}">
                                Add Category
                            </a>                   
                            <a href="{% url 'users:EditCategory_view' %}">
                                Edit Category
                            </a>
                        </div>
                    </li>
                    <li class="sub-select-container-3">
                        <p class="sub-select-paragraph-3">Publisher</p>
                        <div class="sub-select-category-3">
                            <a href="{% url 'users:addPublisher_view' %}">
                                Add Publisher
                            </a>                   
                            <a href="{% url 'users:EditPublisher_view' %}">
                                Edit Publisher
                            </a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

{% endif %}

<aside>
    <img src="{% static 'assets/mobile-exit.svg' %}" alt="Exit mobile nav" class="exit hide-tablet"/>
    <nav>
        <ul>
            <li class="active">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'favorite' %}">My Saved Recipes</a>
            </li>
            <li class="subCategories">
                <div class="select-paragraph-m">
                    <i class="fa-solid fa-arrow-up select-arrow"></i>
                    <p class="">Categories</p>
                </div>

                <div class="select-category-m">
                    {% for category in Categories %}
                        <a href="{% url 'get_category' category_id=category.id %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li>
                <a href="{% url 'users:profile' %}">Account</a>
            </li>
            <li>
                <a href="{% url 'AboutUs' %}">About Us</a>
            </li>
        </ul>
    </nav>

{% if request.user.is_superuser %}

    <div class="sub-header-mobile ">
        <div class="wrapper-mobile">
            <nav class="sub-header-nav-mobile">
                <ul class="subheader-list-mobile">
                    <li><a href="{% url 'users:addRecipePage' %}">Add recipe</a></li>
                    <li><a href="{% url 'users:editRecipePage' %}">Edit recipe</a></li>
                    <li class="sub-select-container-mobile">
                        <p class="sub-select-paragraph-mobile">Level</p>
                        <div class="sub-select-category-mobile">
                            <a href="{% url 'users:addLevel_view' %}">
                                Add Level
                            </a>                   
                            <a href="{% url 'users:EditLevel_view' %}">
                                Edit Level
                            </a>
                        </div>
                    </li>
                    <li class="sub-select-container-mobile-2">
                        <p class="sub-select-paragraph-mobile-2">Category</p>
                        <div class="sub-select-category-mobile-2">
                            <a href="{% url 'users:AddCategory_view' %}">
                                Add Category
                            </a>                   
                            <a href="{% url 'users:EditCategory_view' %}">
                                Edit Category
                            </a>
                        </div>
                    </li>                
                    <li class="sub-select-container-mobile-3">
                        <p class="sub-select-paragraph-mobile-3">Publisher</p>
                        <div class="sub-select-category-mobile-3">
                            <a href="{% url 'users:addPublisher_view' %}">
                                Add Publisher
                            </a>                   
                            <a href="{% url 'users:EditPublisher_view' %}">
                                Edit Publisher
                            </a>
                        </div>
                    </li>

                    {#                    <li><a href="{% url 'users:logout_view' %}">Logout</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
</aside>


<!-- Main -->

<div>
    
</div>

<div class="form-wrapper">
    <h2 class="title">Add Publisher</h2>
    <form id="addForm" method="POST" action="{% url 'users:EditPublisherDetails_view' pub_id=publisher.id %}">
        {% csrf_token %}
        <div class="form-field">
            <label for="name">Name</label>
            <input required type="text" name="name" placeholder="Enter Publisher" id="publisher_name" value="{{ publisher.name }}">
            <small></small>
        </div>       
        <div class="form-field">
            <label for="job_title">Job Title</label>
            <input required type="text" name="job_title" placeholder="Enter Category name"
                   id="publisher_job_title" value="{{ publisher.jobTitle }}">
            <small></small>
        </div>     
        <div class="form-field">
            <label for="bio">Bio</label>
            <textarea name="bio" placeholder="Enter a bio about publisher" id="bio">{{ publisher.Bio }}</textarea>
            <small></small>
        </div>
        <div class="btns">
            <input id="save-btn" type="submit" value="Save">
        </div>
    </form>

</div>


<script src="{% static 'recipes/js/global2.js' %}?{% now 'U' %}"></script>
<script src="{% static 'users/js/profile.js' %}?{% now 'U' %}"></script>
{#<script src="{% static 'users/js/addLevelForm.js' %}?{% now 'U' %}"></script>#}
</body>
</html>