{% load static %}
{% load bookmark_filter %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'recipes/style/header.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'users/style/profile.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'users/style/EditPublisher.css' %}?{% now 'U' %}">
    <script src="https://kit.fontawesome.com/3fee5cf858.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<!-- Header -->
<header>
    <div class="left-side hide-mobile">


        <nav class="hide-mobile">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'favorite' %}">Favorite</a></li>
                {#                <li><a class="active"  href="{% url 'discover' %}">Discover</a></li>#}
                <li class="select-container">
                    <p class="select-paragraph">Meals</p>
                    <div class="select-category">
                        {% for category in Categories %}
                            <a href="{% url 'get_category' category_id=category.id %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="{% url 'AboutUs' %}">About Us</a></li>
            </ul>
        </nav>


    </div>

    <div class="logo">
        <h1>
            <a href="{% url 'index' %}">Foo<span>dies</span></a>
        </h1>
    </div>

    <div class="right-side">


        <form class="search-field">
            <input type="search" class="input-field" placeholder="search"/>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                      stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.5 17.5L13.875 13.875" stroke="#64748B" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </form>

        <a href="#" class="menu">
            <svg
                    viewBox="0 0 18 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M0 12.5H18V10.5H0V12.5ZM0 7.5H18V5.5H0V7.5ZM0 0.5V2.5H18V0.5H0Z"
                        fill="black"
                />
            </svg>
        </a>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' %}">
                    <img src="{% static 'Assets/profile.svg' %}" alt="profile icon" width="40px" height="40px">

                </a>
            {% else %}
                <div class="hide-mobile verification-btn ">
                    <a class="loginInBtn" href="{% url 'users:login_view' %}">login</a>
                    <a class="signInBtn" href="{% url 'users:register' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

{% if request.user.is_superuser %}

    <div class="sub-header">
        <div class="wrapper">
            <nav class="sub-header-nav">
                <ul class="subheader-list">
                    <li><a href="{% url 'users:addRecipePage' %}">Add recipe</a></li>
                    <li><a href="{% url 'users:editRecipePage' %}">Edit recipe</a></li>
                    <li class="sub-select-container">
                        <p class="sub-select-paragraph">Level</p>
                        <div class="sub-select-category">
                            <a href="{% url 'users:addLevel_view' %}">
                                Add Level
                            </a>                   
                            <a href="{% url 'users:EditLevel_view' %}">
                                Edit Level
                            </a>
                        </div>
                    </li>
                    <li class="sub-select-container-2">
                        <p class="sub-select-paragraph-2">Category</p>
                        <div class="sub-select-category-2">
                            <a href="{% url 'users:AddCategory_view' %}">
                                Add Category
                            </a>                   
                            <a href="{% url 'users:EditCategory_view' %}">
                                Edit Category
                            </a>
                        </div>
                    </li>
                    <li class="sub-select-container-3">
                        <p class="sub-select-paragraph-3">Publisher</p>
                        <div class="sub-select-category-3">
                            <a href="{% url 'users:addPublisher_view' %}">
                                Add Publisher
                            </a>                   
                            <a href="{% url 'users:EditPublisher_view' %}">
                                Edit Publisher
                            </a>
                        </div>
                    </li>

                    <li><a href="{% url 'users:logout_view' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

{% endif %}

<aside>
    <img src="{% static 'assets/mobile-exit.svg' %}" alt="Exit mobile nav" class="exit hide-tablet"/>
    <nav>
        <ul>
            <li class="active">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'favorite' %}">My Saved Recipes</a>
            </li>
            <li class="subCategories">
                <div class="select-paragraph-m">
                    <i class="fa-solid fa-arrow-up select-arrow"></i>
                    <p class="">Categories</p>
                </div>

                <div class="select-category-m">
                    {% for category in Categories %}
                        <a href="{% url 'get_category' category_id=category.id %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li>
                <a href="{% url 'users:profile' %}">Account</a>
            </li>
            <li>
                <a href="{% url 'AboutUs' %}">About Us</a>
            </li>
        </ul>
    </nav>
</aside>

<!-- Main -->

<div class="delete-confirm">
    <div class="confirm-container">
        
        <a class="x-btn">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <div class="titles">
            <h1>Delete Publisher</h1>
            <p>Are you sure Want to delete this Publisher info?</p>
        </div>
        <div class="confirm-btns">
            <a class="cancel-btn CFB">Cancel</a>
            <a class="confirm-btn CFB">Delete</a>
        </div>
    </div>
</div>

<div class="publisher-wrapper">

    {% for publisher in Publishers %}
        <div class="publisher">
            <p class="item-name">{{ publisher.name }}</p>

            <div class="EditBtns">
              <form class="edit_Publisher_form  btn" method="get"
                    action="{% url 'users:EditPublisherDetails_view' pub_id=publisher.id %}">
                    {% csrf_token %}
                  
                    <button class="edit_publisher_btn ">
                        <i class="fa-solid fa-edit"></i>
                    </button>
                </form>
                <form class="delete_publisher_form" method="POST" data-csrf-token="{{ csrf_token }}" 
                    data-action-url="{% url 'users:deletePublisher_view' %}">
                      <input name="publisher_id" type="text" value="{{ publisher.id }}">
                
                    <button class="delete_publisher_btn btn" type="button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>  
            </div>
        </div>
    {% endfor %}

</div>


<script src="{% static 'recipes/js/global2.js' %}?{% now 'U' %}"></script>
<script src="{% static 'users/js/profile.js' %}?{% now 'U' %}"></script>
<script src="{% static 'users/js/EditPublisher.js' %}?{% now 'U' %}"></script>
</body>
</html>