{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'users/style/UpdatePassword.css' %}?{% now 'U' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
</head>
<body>

    <div class="container">
        <h3 class="form-title">Update Password</h3>
        <form id="UpdatePassword" method="POST" action="{% url 'users:updatePassword_view' %}">
            {% csrf_token %}

            <div class="form-field">
                <label for="password">New Password</label>
                <input type="password" name="password" placeholder="password" id="password">
                <small></small>
            </div>

            <div class="form-field">
                <label for="password">Confirm Password</label>
                <input type="password" placeholder="Password" id="confirm-password">
                <small></small>
            </div>

            <div class="btns">
                <input id="submit-btn" type="submit" value="Save">
            </div>
        </form>
    <script src="{% static 'users/js/UpdatePassword.js' %}?{% now 'U' %}"></script>
    </div>
</body>
</html>