{% load static %}
{% load bookmark_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'recipes/style/header.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'recipes/style/AboutUs.css' %}?{% now 'U' %}"/>
    <script src="https://kit.fontawesome.com/3fee5cf858.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<header>
    <div class="left-side hide-mobile">


        <nav class="hide-mobile">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'favorite' %}">Favorite</a></li>
                {#                <li><a class="active"  href="{% url 'discover' %}">Discover</a></li>#}
                <li class="select-container">
                    <p class="select-paragraph">Meals</p>
                    <div class="select-category">
                        {% for category in Categories %}
                            <a href="{% url 'get_category' category_id=category.id %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="{% url 'AboutUs' %}">About Us</a></li>
            </ul>
        </nav>


    </div>

    <div class="logo">
        <h1>
            <a href="{% url 'index' %}">Foo<span>dies</span></a>
        </h1>
    </div>

    <div class="right-side">


        <form id="searchForm" class="search-field" method="GET" action="{% url 'searchRecipe' %}"
            data-action-url="{% url 'searchRecipe' %}" data-csrf-token="{{ csrf_token }}">
            <input type="search" name="query" class="input-field" placeholder="search"/>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                      stroke="#64748B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.5 17.5L13.875 13.875" stroke="#64748B" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </form>

        <a href="#" class="menu">
            <svg
                    viewBox="0 0 18 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M0 12.5H18V10.5H0V12.5ZM0 7.5H18V5.5H0V7.5ZM0 0.5V2.5H18V0.5H0Z"
                        fill="black"
                />
            </svg>
        </a>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' %}">
                    <img src="{% static 'Assets/profile.svg' %}" alt="profile icon" width="40px" height="40px">

                </a>
            {% else %}
                <div class="hide-mobile verification-btn ">
                    <a class="loginInBtn" href="{% url 'users:login_view' %}">login</a>
                    <a class="signInBtn" href="{% url 'users:register' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

<aside>
    <img
            src="{% static 'assets/mobile-exit.svg' %}"
            alt="Exit mobile nav"
            class="exit hide-tablet"
    />
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'favorite' %}">My Saved Recipes</a>
            </li>
            <li class="subCategories">
                <div class="select-paragraph-m">
                    <i class="fa-solid fa-arrow-up select-arrow"></i>
                    <p class="">Categories</p>
                </div>

                <div class="select-category-m">
                    {% for category in Categories %}
                        <a href="{% url 'get_category' category_id=category.id %}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li>
                <a href="{% url 'users:profile' %}">Account</a>
            </li>
            <li class="active">
                <a href="{% url 'AboutUs' %}">About Us</a>
            </li>
        </ul>
    </nav>
</aside>

<!-- Main -->

<!-- About  -->

<div class="about-us">
    <div class="wrapper">
        <div class="titles">
            <p class="subtitle">About Us</p>
            <h1 class="title">
                WHERE CULINARY PASSION MEETS INSPIRATION IN EVERY DISH
            </h1>
        </div>


        <div class="aboutUs-Img">
            <img src="{% static 'Assets/hero.jpg' %}" alt="">
        </div>

        <div class="About-main">
            <div class="our-Story">
                <div class="story-titles">
                    <p class="subtitle">Add A value</p>
                    <h2 class="story-title">Our Story</h2>
                </div>
                <p class="story-cotnent content">
                   Our story at Foodies began with a simple yet profound vision: to ignite the passion
                    for gastronomy and empower individuals to embark on a delightful journey through the vast and vibrant world of culinary delights.
                    It all started with a shared love for food - a universal language that transcends cultural boundaries and brings people together in joyful
                    celebration.

                    At Foodies, we are more than just a platform; we are a community united by our fervent appreciation
                    for the culinary arts. Whether you're a seasoned chef, a home cook eager to expand your repertoire,
                    or an enthusiastic foodie curious to explore new tastes, there's a place for you here.
                    

                    So come join us on this gastronomic adventure! Let's explore the boundless possibilities of the kitchen,
                    savor the exquisite flavors of global cuisines, and create unforgettable culinary experiences together.
                    At Foodies, the joy of cooking knows no bounds, and every meal is an opportunity to celebrate the magic
                    of food and the camaraderie of shared meals. Welcome to our table - let's feast on life's delicious offerings together!
                </p>
            </div>

            <div class="Our-Commitment">
                <h3 class="Our-Commitment-title">Our Commitment</h3>
                <p class="Our-Commitment-content content">
                    At Foodies, we are committed to providing you with a user-friendly, informative, and inspiring
                    culinary
                    experience.
                    Whether you're looking for quick and easy meal ideas,
                    gourmet recipes for special occasions, or simply seeking to expand your culinary repertoire,
                    we're here to help you navigate your culinary journey with confidence and creativity.
                </p>
            </div>


            <div class="our-mission">
                <h3 class="our-mission-title">Our Mission</h3>
                <p class="our-mission-content content">
                    At Foodies, our mission is to make cooking accessible, enjoyable, and rewarding for everyone. We
                    believe
                    that food has the power to bring people together, spark creativity,
                    and nourish both body and soul. Whether you're a seasoned home chef or a culinary novice,
                    we're here to provide you with the tools, resources, and inspiration you need to unleash your inner
                    chef and
                    create memorable meals with confidence and flair.
                </p>
            </div>
        </div>

    </div>
</div>


<!-- Footer -->
<footer>
    <div class="top">
        <div class="col">
            <div class="logo">
                <h1>
                    <a href="{% url 'index' %}">Foo<span>dies</span></a>
                </h1>
                <p>Best make you can recipy for your daily life for more </p>
            </div>
        </div>
        <div class="col">
            <nav>
                <ul>
                    <li><a href="#">main course</a></li>
                    <li><a href="#">dessert</a></li>
                    <li><a href="#">appetizers</a></li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul>
                    <li><a href="#">Best Meals</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Article</a></li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <nav>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact US</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright 2024 - Foodies</p>
    </div>
</footer>

<script src="{% static 'recipes/js/global2.js' %}?{% now 'U' %}"></script>
</body>
</html>