.my-recipes {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    margin: 8rem 3.2rem 8rem 3.2rem;
}



.my-recipes .recipes-wrapper {
    max-width: 1200px;
}


.recipes-head {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 4.8rem;
    padding: 2rem 0 0 0;
}

.recs-title {
    font-size: 3.2rem;
    text-transform: capitalize;
}


.recipes-head .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recipes-head .links p:first-child {
    font-size: 2.4rem;
    font-weight: 800;
}

.recipes-head .links .btn {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: #ffffff;
    border: none;
}

.recipes-head .links .btn a {
    font-size: 1.9rem;
    font-weight: normal;
    color: #565656;
}

.recipes-head .links .btn i {
    font-size: 20px;
}

.recipes-head .links .btn:hover a {
    text-decoration: underline;
}



.carts-container .rows {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    width: 100%;
    gap: 16px;
    margin-top: 16px;
}

.cart {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.13) 0 0 1px 1px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /*width: 25%;*/
}

.cart-top {
    position: relative;
}

.cart-top img {
    border-radius: 5px 5px 0 0;
    height: 250px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.cart-top .like-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 10px;
    border-radius: 100px;
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.24);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.cart-top .like-icon i {
    font-size: 18px;
    color: white;
    transition: all .4s ease-in;
}

.cart-top .like-icon i:hover {
    color: red;
}

.cart-top .like-icon i.marked {
    color: red;
}


.heart-icon {

    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
}



.cart-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.cart-bottom .rec-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 12px;
    width: 100%;
    flex-basis: fit-content;
}




.cart-bottom .rec-details .rec-name {
    font-size: 2rem;
}

.cart-bottom .rec-details .rec-name a {
    color: black;
    text-decoration-color: #0D0F11;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
}


.cart-bottom .rec-details .rec-level {
    font-size: 1.6rem;
}

.addition-details p {
    font-size: 1.6rem;
}


.EditBtns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.EditBtns .Edit_recipe_btn,
.EditBtns .deleteRecipe_form {
    width: 50%;
}

.EditBtns .Edit_recipe_btn {
    background-color: white;
}

.EditBtns form .delete_recipe_btn {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: unset;
    border: none;
}

.EditBtns form .delete_recipe_btn:hover {
    color: white;
}


.EditBtns .btn {
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #343635;
    color: #000000;
    text-align: center;
    border-radius: 4px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.EditBtns .btn:hover {
    background-color: #208C64;
    color: white;
    border: none;
}


@media only screen and (min-width: 500px) {
    .carts-container .rows {
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 800px) {

    .recipes {
        /*padding: 0 48px;*/
    }
    .carts-container .rows {
        flex-direction: row;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

}